*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background: lightblue;
}
.box{
  display: flex;
  justify-content: center;

}

.row{
  width: 200px;
  height: 200px;
  background-color: orange;
}
